<div class= "container">

  <div class = "jumbotron">
    <h1>Order your Burger</h1>
    <p>Burger order pickup window.</p>
      <br>
      <h2>Select a burger</h2>
      <panel>
        <form class="create-form">
          <div class="form-group">
            <label for="newburger">Order Fresh Burger</label>
            <input type="text" id="newburger" name="burger">
            <button type="submit" class="btn btn-success" id="addburger">
              <span class="fa fa-thumbs-up"></span>
            </button>
          </div>
        </form>
      </panel>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="leftside"><strong>Order your Burger</strong></div>
        <div class="panel-body">
          <h4>Add content here</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="leftside"><strong>Devour the Burger</strong></div>
        <div class="panel-body">
          <h4>Add content here</h4>
        </div>
      </div>
    </div>
    
  </div>
</div>